.jumbotron {
    background-image: url(red-sky-sunset-horizon-scenic-beach.jpeg);
    background-size: cover;
    font-family: 'Bangers', cursive;
}

.jumbotron h1, p {
    color: white;
    padding-left: 25px;
}

.jumbotron p {
    font-family: 'Roboto', sans-serif;
}

.jumbotron .btn {
    margin-left: 25px;
}

.navbar img {
    height: 30px;
    width:  60px;
}

h2 {
    font-family: 'Bangers', cursive;
}

img {
    height: 250px;
    width: 250px;
}

#leaderheader {
    margin-top: 15px;
}

#contodd {
    padding-top: 40px;
    background-color: lightgrey;
}

#conteven {
    padding-top: 40px;
    background-color: whitesmoke;
}

#contodd h3 {
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: x-large;
}

#conteven h3 {
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: x-large;
}

.icon {
   text-align: center;
}

.img-fluid {
    max-width: auto;
    height: auto;
}

#questionform {
    margin: 25px;
}

.form-group {
    margin-top: 15px;
    font-weight: bold;
}

.form-check {
    font-weight: lighter;
}

input[name=question] {
    padding: 70px;
}

#whyJamaica p {
    color: black;
}

#whyJamaica h2 {
    margin-bottom: 20px;
}

#group img {
    height: 375px;
    width: auto; 
    /* padding-right: 5.5vw; */
    float: center;
}

#group {
    margin-top: 30px;
    background-color: lightskyblue;
}

#group a {
    font-size: 50px;
    font-size: 8vw;
    padding-top: 20px;
    color: black;
}

#group h2 {
    padding-top: 2.1vw;
}

.bottomline {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.bottomline p {
    color: slategray;
}

table {
    text-align: center;
}